.App-Header-logo{
    float: left;
    height: 45px;
    margin-top: 10px;
}
.App-Header-menu{
    float: left;
    /*!important 提高样式优先级*/
    margin: 10px 0 0 100px!important;
    border: none !important;
}
